<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <h1>
        Near Earth Asteroids Search
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        dateLimit="7"
        type="text"
        placeholder="Choose date range"
        ngxDaterangepickerMd
        formControlName="selected"
        class="form-control"
      />
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button
      mat-button
      (click)="
        searchAsteroids(
          form.value.selected.startDate,
          form.value.selected.endDate
        )
      "
    >
      Search
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="loading" class="center">
  <mat-spinner></mat-spinner>
</mat-card>

<div *ngIf="dataSource">
  <mat-accordion *ngFor="let neo of dataSource">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ neo.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{
            neo.close_approach_data[0].close_approach_date_full ||
              neo.close_approach_data[0].close_approach_date
          }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-expansion-panel__content">
        <ul>
          <li *ngIf="neo.is_potentially_hazardous_asteroid">
            <strong class="hazardous">
              potentially hazardous asteroid
            </strong>
          </li>
          <li>
            miss distance:
            {{ neo.close_approach_data[0].miss_distance.kilometers }} km
          </li>
          <li>
            relative velocity:
            {{
              neo.close_approach_data[0].relative_velocity.kilometers_per_hour
            }}
            km/h
          </li>
          <li>H (absolute magnitude): {{ neo.absolute_magnitude_h }}</li>
          <li>orbiting body: {{ neo.close_approach_data[0].orbiting_body }}</li>
          <li *ngIf="neo.is_sentry_object">is sentry object></li>
          <li><a href="{{ neo.nasa_jpl_url }}" target="_blank">nasa jpl</a></li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
