<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>
          Near Earth Asteroids Search
        </h1>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
      <mat-form-field>
        <input
          matInput
          dateLimit="7"
          type="text"
          placeholder="Choose date range"
          ngxDaterangepickerMd
          formControlName="selected"
          class="form-control"
        />
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button
        mat-button
        (click)="
          searchAsteroids(
            form.value.selected.startDate,
            form.value.selected.endDate
          )
        "
      >
        Search
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="loading" class="center">
    <mat-spinner></mat-spinner>
  </mat-card>
  <mat-card *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.close_approach_data[0].close_approach_date }}
        </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="hazardous">
        <th mat-header-cell *matHeaderCellDef>Hazardous</th>
        <td mat-cell *matCellDef="let element">
          {{ element.is_potentially_hazardous_asteroid }}
        </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="sentry">
        <th mat-header-cell *matHeaderCellDef>Sentry</th>
        <td mat-cell *matCellDef="let element">{{ element.is_sentry_object }}</td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
  