table { 
    width: 100%;
}
mat-card {
    margin: 25px auto;
    width: 80%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
