table { 
    width: 100%;
}
mat-card {
    margin: 25px auto;
}

.mat-input-element {
    font-family: 'Rajdhani', sans-serif;
}

.example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/2127/2127165.svg');
    background-size: cover;
  }
  