.example-card {
    max-width: 400px;
    margin: 25px auto;
  }
  
  .example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/2092/2092034.svg');
    background-size: cover;
  }
  