
mat-card {
    max-width: 100%;
    margin: 25px auto;
  }
  
  .header-image {
    background-size: cover;
}  
.example-header-image {
  background-image: url('https://image.flaticon.com/icons/svg/2127/2127892.svg');
  background-size: cover;
}
